@import "./themes.css";

.btn.btn-standard{
    background-color: var(--primary-1);
}

.btn.btn-neutral{
    color: black;
    background-color: var(--neutral-raised-1);
}

.btn.btn-cancel{
    background-color: var(--cancel-1);
}


.btn.btn-cancel:hover{
    background-color: var(--cancel-2);
}

.waves-effect.waves-cancel .waves-ripple {
/* The alpha value allows the text and background color
of the button to still show through. */
    background-color: var(--cancel-3);
}


.waves-effect.waves-nav .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: var(--nav-2);
}