/* Icons Themes */

.new{
    color: var(--new-1);
}
.ignored{
    color: var(--ignored-1);
}
.modified{
    color: var(--modified-1);
}
.added{
    color: var(--added-1);
}
.deleted{
    color: var(--deleted-1);
}
.renamed{
    color: var(--renamed-1);
}
.copied{
    color: var(--copied-1);
}
.updated-unmerged{
    color: var(--unmerged-1);
}