div.modal-content>.input-field>label{
    left: 0;
}

div.modal > div.modal-footer{
    padding-right: 24px;
}

div.modal-content > div.input-field{
    margin-top:.1rem;
    margin-bottom:.1rem;
    display:flex;
}

div.modal > div.modal-footer > button.btn{
    margin: .2rem;
} 