nav.landing-space{
    background-color: var(--nav-1);

    height: var(--header-height);
    line-height: var(--header-height);

    display:flex;
    z-index:1;
    position: fixed;
    
}

nav.landing-space>li.right-nav{
    border: 0;
    background-color:inherit;
    color:inherit;
    list-style-type: none;
    height:100%;
}


.right-nav{
    margin-left:auto;
}

nav.landing-space>li.nav-link{
    background-color:var(--nav-1);
    transition: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    padding: 0 .5rem;
}

nav.landing-space>li.nav-link:hover{
    background-color: var(--nav-2);
}

/* sidebar */
div#side-diff{
    z-index: 0;
    position: fixed;
    overflow-x: hidden;
    width: var(--sidebar-offset);
    margin: 0;
    padding: 0;
    top: var(--header-offset);
    height: calc(100% - var(--sidebar-footer-height) - var(--header-offset));

    display: flex;
    flex-direction: column;
    
}

ul#side-diff-content-top {
    list-style-type: none;
    margin: 0;
    z-index: 0;
}

ul#side-diff-content-top > li.header{
    text-align: center;
    background-color: var(--neutral-1);
    display: block;
    
}

ul#side-diff-content-top > li{
    font-size:1rem;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    line-height: unset;
    padding-top:.25rem;
    padding-bottom: .25rem;
    height:fit-content;

    height: var(--sidebar-eleheight);
    width:  var(--sidebar-offset);
}

li.landing-space{
    
    padding-right: 20px;
}

li.side-click{
    cursor: pointer;
    transition: cubic-bezier(.08, .35, .13, 1.02) .8s;
}

li.side-click:hover{
    background-color: var(--neutral-2);
}

li.side-click:active{
    background-color: var(--primary-1);
}

li.side-click.selected{
    background-color: var(--neutral-selected);
}

li>input.side-check[type="checkbox"]{
    position: relative;
    opacity: 1;
    margin:auto 5px;
    z-index: 3;
    pointer-events: auto;
}

li>i.right{
    margin-left: auto;
}

li>i.new{
    color: var(--new-1);
}


li>i.modify{
    color: var(--change-1);
}

/* For footer (of commit/push menu) */
#side-footer{
    bottom: 0;
    left: 0;
    position: fixed;
    display:flex;
    flex-direction: column;

    width: var(--sidebar-offset);
    height: var(--sidebar-footer-height);

    z-index: 1;
    
    background-color: var(--neutral-raised-2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#footer-commitmsg{
    background-color: white;
    margin: 8px;
    border: 1px solid #9e9e9e;

    resize:none;
    height:5rem;
    width: calc(var(--sidebar-offset)-16);
}

div#side-footer-buttons{
    padding: 8px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

div#side-footer-buttons>a{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    margin: 3px;

    /* centers horizontally since flex-dir is row (other way if column with align-items doing the opposite) */
    justify-content: center;
}