body {
    display: flex;
    flex-direction: column;
}

.landing-space{
    padding: 0 10px;
}

.main-wrap{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main{
    padding-left: var(--sidebar-offset);
    padding-top: var(--header-height);
    width: 100%;
    overflow-x: hidden
}

.break-li{
    word-wrap: break-word
}

.page{
    width: 100%;
    height:100%;
    display: flex;
}

#page-changes{
    margin:0 10px;
    padding-top: 10px;
}