body {
    display: flex;
    flex-direction: column;
}

.landing-space{
    padding: 0 10px;
}

.main-wrap{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main{
    padding-left: var(--sidebar-offset);
}