body{
    min-height: 100vh;

    max-height: 100%;
    max-width:100%;
    display: flex;
}

.page{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.page.center-v{
    justify-content: center;
}

.main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.row{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

div.row:after {
    content: none;
 }

.row.row-stretched-around{
    justify-content: space-around;
}

.row.row-stretched-between{
    justify-content: space-between;
}