body {
    display: flex;
    flex-direction: column;
}

.landing-space{
    padding: 0 10px;
}

.main-wrap{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main{
    overflow-x: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100vw - var(--sidebar-offset));
    height: calc(100vh - var(--header-offset));
}
.break-text{
    white-space: pre-wrap;
}
.page{
    width: 100%;
    height:100%;
    display: flex;
}
#page-changes{
    margin:0 0;
    padding: 0 0;
}