:root{
    --primary-1: #29883a;

    --sub-1: #174d21;
    


    --neutral-1:#d4f0df;
    --neutral-2:#e3ffee;

    --neutral-selected:#b3e7eb;

    --neutral-raised-1:#c0f8fd;
    --neutral-raised-2:#ebf9fa;

    --cancel-1: #4d555086;
    --cancel-2: #525a55;
    --cancel-3: #526659;

    --error-1: #1a0106;

    --new-1: #16471f;
    
    --change-1: #817f0a;

    --nav-1:#323632;
    --nav-2:#464b46;
}