:root{
  --background: #fffef8;

  --scroll-track: #c5c5c5;
  --scroll-thumb: #a2a8c7;
}



body{
  min-height: 100vh;

  max-height: 100%;
  max-width:100%;
  display: flex;

  margin: 0;
  background-color: var(--background);

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-app-region: no-drag;
}

div{
  display: flex;
  list-style-type: none;
}

#root{
  flex-direction: row;
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px var(--scroll-track); 
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 6px var(--scroll-thumb); 
}

/* FOR DIALOG */
div.MuiDialog-root > div.MuiDialog-container{
  margin:auto;
}

/* FOR TEXT OF SidebarChanges */
div.MuiListItemText-root > span{
  width: 100%;
  word-break: break-word;
}

/* FOR ANIMATION AND ROTATE */
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}